*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(106, 74, 173);
    overflow-x: hidden;
    
}

.main-bx{
    display:flex;
    justify-content: center;
    align-items: center;
    /*height: 710px;
    width: 1195px;*/
    
    position: absolute;
    top:60px;
    left: 70px;
    
}
.row1{
    position: relative;
    top: -230px;
    left: 0px;
}
.row2{
    position: relative;
    top: 135px;
    left: -260px;
}
.column{
    position: absolute;
    top: 100px;
    left: 780px;
    display: flex;
    flex-direction: column;
}
.column > h1{
    font-family: "Open Sans";
    margin-right: -190px;
    font-size: 35px;
    position: relative;
    top: 90px;
    color: white;
    
}
.column > p{
    font-family: "Poppins";
    position: relative;
    top: 120px;
    left: 5px;
    margin-right: -250px;
    color: white;
    font-size: 15px;
    font-weight: 300;
}
.column > button{
    width: 200px;
    height:50px;
    border-radius: 35px;
    border-style: none;
    position: relative;
    top: 160px;
    color: blueviolet;
    background-color: white;
    font-size: 15px;
    font-family: "Poppins";
}
.logos > img{
    height: 50px;
    width: 50px;
    position: relative;
    top: 330px;
    left: 350px;
}
.column > button:hover{
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
    color: white;
}
img[src="images/fb.png"]:hover,
img[src="images/twtrlogo.png"]:hover,
img[src="images/iglogo5.png"]:hover{
    filter: invert(43%) sepia(68%) saturate(209%) hue-rotate(312deg) brightness(100%) contrast(85%); /* Color change effect */
    cursor: pointer;
}
img[src="images/fb.png"],
img[src="images/twtrlogo.png"],
img[src="images/iglogo5.png"] {
    transition: filter 0.3s ease; /* Smooth transition effect */
}
